* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: georgia, cambria, 
    times new roman, calibri;
}

header {
    display: flex;
    justify-content: flex-end;
    border: 1px solid grey;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
}

.logo {
    margin: auto;
    margin-left: 40px;
    text-decoration: none;
    color: blue;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.sub {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    margin: 30px;
    font-weight: bold;
}

nav {
    padding: 8px;
}

.sub:hover {
    color: blue;
}

.seconddiv {
    border: 1px solid grey;
    border-radius: 25px;
    width: 25%;
    height: 310px;
    margin-left: 73%;
    box-shadow: 4px 6px 6px 5px grey;
    position: absolute;
    top: 70px;
    z-index: -1;
}

h3 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

 #icon {
    color: blue;
    margin: 12px;
    margin-left: 50%;
    cursor: pointer;
} 

.content {
    color: blue;
    font-size: 35px;
    font-weight: bold;
    margin-left: 50px;
    position: absolute;
    top: 90px;
    z-index: -1;
}

span {
    color: blue;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.image {
    margin-top: 150px;
    margin-left:15%;
    width: 45%;
    z-index: -1;
}

.text {
    text-align: justify;
    margin-left: 50px;
    font-family: calibri;
    font-size: 20px;
    padding-right: 550px;
    margin-top: 25px;
    z-index: -1;
    line-height: 35px;
}

button {
    margin-left: 28%;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 50px;
    Text-transform: capitalize;
    padding: 18px;
    font-weight: bold;
    font-family: calibri;
    font-size: 18px;
    z-index: -1;
    cursor: pointer;
}

button:hover {
    font-size: 20px;
}

footer {
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    text-transform: capitalize;
    font-family: calibri;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}